<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EFL Partners & Projects</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<nav id="nav-bar">
    <div id="efl-logo">EFL LOGO</div>
    <h2>Dashboard</h2>
    <h2>Partners</h2>
    <h2>Projects</h2>
    <h2>
        <% if (user) { %>
            <a href="/logout">Log Out</a>
        <% } else { %> 
            <a href="/auth/google">Log In</a>
        <% } %>
    </h2>
</nav>
<div id="line"></div>