<%- include('../partials/header') %>

   <h1 id="dashboard-header">Partners & Projects Dashboard</h1> 
   <h3>Welcome to our dashboard!</h3>
   <p id="dashboard-welcome">Here's some overall information about our partnership connections and projects.</p>
   <section id="dashboard">
      <div id="partners-dashboard">
         <% let total = 0 %> 
         <% partners.forEach(element => { %>
            <% total += 1 %> 
         <% }) %> 
         <p class="total"><%=total%></p>
         <h3>Partnership Connections</h3>
         <h2><a href="/partners">Go to All Partners</a></h2>
      </div>
      <div id="projects-dashboard">
         <% let projTotal = 0 %>
         <% projects.forEach(element => { %>
            <div class="project-img"></div>
            <% projTotal +=1 %>
         <% }) %>
         <p class="total"><%=projTotal%></p>
         <h3>Projects</h3>
         <h2><a href="/projects">Go to All Projects</a></h2>
      </div>
   </section>
<%- include('../partials/footer') %>
