html {
  font-family: 'Raleway', sans-serif;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 25px auto 25px;
}

img {
  height: 75px;
  margin-left: 10px;
}

#header-menu-items {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #152943;
}

a:hover {
  color: #4CBED3;
  cursor: pointer;
  text-decoration: underline;
}

#header-menu-items * {
  margin: auto 15px auto 15px;
}

#login-out * {
  display: flex;
  color: white;
  width: 120px;
  height: 35px;
  justify-content: center;
  text-decoration: none;
}

#login-out :hover {
  background-color: #CFB1FF
}

#login {
  background-color: #BF2885;
}

#logout {
  background-color: #4CBED3;
}

#header-line {
  background-color: #DFE0E2;
  height: 1vh;
  width: auto;
  margin: 1vh auto 2vh auto
}

#dashboard {
  background-color: pink;
  height: 40vh;
  width: auto;
}

input[type="text"], select {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

table {
  font-size: 15px;
}

th, td {
  padding: 5px;
  text-align: left;
  vertical-align: center;
}

tr:hover {
  background-color: #DFE0E2
}

#add-partner-form {
  display: flex;
  flex-direction: column;
}

#edit-partner-form {
  display: flex;
  flex-direction: column;
}

#edit-partner-form *, #add-partner-form * {
  margin: 2px auto 2px auto;
}

#edit-comment-button {
  background-color: yellow;
  border: solid 1px black;
}

#submit-form, #add-comment, #delete-partner {
  margin: 15px auto 15px auto;
  height: 30px;
  width: 150px;
  align-self: center;
  background-color: #4CBED3;
  color: white;
  font-size: 15px;
  border: none;
  font-family: 'Raleway', sans-serif;
}

#add-partner-comment > textarea {
  width: 60%;
  height: 10vh;
}

#submit-form:hover, #add-comment:hover, #delete-partner:hover {
  background-color: #BF2885;
  cursor: pointer;
}

body {
  text-align: center;
}

#footer-line {
  background-color: #DFE0E2;
  height: 2vh;
  width: auto;
  margin-top: 2vh;
  margin-bottom: 0px;
}
