<h1> Insert partial header</h1>

<form action="/projects/<%=project._id%>/comments/<%=commentSubdoc._id%>?_method=PUT" method="POST">
    <input name="text" value="<%=commentSubdoc.text%>">
    <button type="submit">Update Comment</button>
</form>

<h1> Insert partial footer</h1>